@charset "utf-8";

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../fonts/firasans-bold-webfont.eot');
    src: url('../fonts/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('../fonts/firasans-bold-webfont.woff') format('woff'),
         url('../fonts/firasans-bold-webfont.ttf') format('truetype'),
         url('../fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Light';
    src: url('../fonts/firasans-light-webfont.eot');
    src: url('../fonts/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-light-webfont.woff2') format('woff2'),
         url('../fonts/firasans-light-webfont.woff') format('woff'),
         url('../fonts/firasans-light-webfont.ttf') format('truetype'),
         url('../fonts/firasans-light-webfont.svg#fira_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Medium';
    src: url('../fonts/firasans-medium-webfont.eot');
    src: url('../fonts/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-medium-webfont.woff2') format('woff2'),
         url('../fonts/firasans-medium-webfont.woff') format('woff'),
         url('../fonts/firasans-medium-webfont.ttf') format('truetype'),
         url('../fonts/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/firasans-regular-webfont.eot');
    src: url('../fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('../fonts/firasans-regular-webfont.woff') format('woff'),
         url('../fonts/firasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-SemiBold';
    src: url('../fonts/firasans-semibold-webfont.eot');
    src: url('../fonts/firasans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/firasans-semibold-webfont.woff') format('woff'),
         url('../fonts/firasans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/firasans-semibold-webfont.svg#fira_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
	font-family: 'FiraSans-Light';
}
body.active {
	height: 100vh;
	overflow: hidden;
}
a{
	text-decoration: none;
	color: #000000;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
	box-sizing: border-box;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder {
	color: #000000;
}
.mobile-btn {
	display: none;
	position: absolute;
	left: 15px;
	top: calc(50% - 11px);
	width: 26px;
	height: 22px;
	z-index: 1;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000000;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 26px;
	height: 22px;
	z-index: 1;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}
.header.active {
	position: fixed;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header-top {
	background-color: rgb(246, 247, 249);
}
.header-top .b-block {
	padding-top: 2px;
	padding-bottom: 2px;
}
.header-nav {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 205px);
	box-sizing: border-box;
	padding-right: 20px;
}
.header-nav ul {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header-nav ul li a {
	font-size: 15px;
	line-height: 1.2;
	color: #9299a2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav ul li a:hover {
	color: #000000;
}
.header-basket {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	box-sizing: border-box;
}
.header-basket a {
	display: inline-block;
}
.header-basket a img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-basket a:hover img {
	-webkit-filter: brightness(0.8);
	-moz-filter: brightness(0.8);
	-ms-filter: brightness(0.8);
	filter: brightness(0.8);
}
.header-basket a span {
	display: inline-block;
	vertical-align: middle;
	font-family: 'FiraSans-Medium';
	font-size: 17px;
	color: #000000;
	line-height: 1.2;
}
.header-basket a span b {
	font-weight: normal;
}
.header.active .header-bottom {
	display: none;
}
.header-bottom .b-block{
	padding-top: 18px;
	padding-bottom: 3px;
}
.header-logo {
	display: inline-block;
	vertical-align: top;
	width: 178px;
	margin-right: 4px;
}
.header-logo a {
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.header-logo a::before {
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
	left: -50%;
    width: 80px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 100%);
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
	-webkit-animation: shimmer 4s linear infinite normal;
	-moz-animation: shimmer 4s linear infinite normal;
	-ms-animation: shimmer 4s linear infinite normal;
    animation: shimmer 4s linear infinite normal;
}
@-webkit-keyframes shimmer {
	0% {
		left: -50%;
	}
	50% {
		left: 150%;
	}
	100% { 
		left: 150%;
	}
}
@-moz-keyframes shimmer {
	0% {
		left: -50%;
	}
	50% {
		left: 150%;
	}
	100% { 
		left: 150%;
	}
}
@-ms-keyframes shimmer {
	0% {
		left: -50%;
	}
	50% {
		left: 150%;
	}
	100% { 
		left: 150%;
	}
}
@keyframes shimmer {
	0% {
		left: -50%;
	}
	50% {
		left: 150%;
	}
	100% { 
		left: 150%;
	}
}
.header-logo a img {
	display: block;
	max-width: 100%;
}
.header-text {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: calc(30% - 4px);
	color: rgb(179, 179, 179);
	line-height: 1.2;
	font-size: 16px;
}
.header-select {
	display: inline-block;
	vertical-align: top;
	width: calc(25% - 4px);
	position: relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.header-select .select-area {
	width: 100%;
	box-sizing: border-box;
	padding: 4px 44px 4px 22px;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 20px;
	text-align: left;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
}
.header-select .select-area:hover {
	cursor: pointer;
}
.header-select .select-area.active {
	border-radius: 20px 20px 0 0;
}
.header-select .select-area::before {
	content: '';
	display: block;
	position: absolute;
	width: 22px;
	height: 11px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-image: url('../i/sel-arr.png');
	background-size: contain;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	right: 11px;
}
.header-select .select-area.active::before {
	-webkit-transform: translateY(-50%) rotate(180deg);
	-moz-transform: translateY(-50%) rotate(180deg);
	-ms-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}
.header-select .select-area::after {
	content: '';
	display: block;
	width: 1px;
	height: 80%;
	position: absolute;
	right: 43px;
	top: 10%;
	background-color: rgb(230, 230, 230);
}
.header-select .select-area span {
	display: none;
	position: relative;
	padding: 3px 0 3px 49px;
	font-size: 18px;
	color: rgb(77, 77, 77);
	line-height: 1.2;
	max-width: calc(100% - 49px);
	overflow: hidden;
}
.header-select .select-area span.active {
	display: inline-block;
}
.header-select .select-area span img {
	display: block;
	position: absolute;
	max-width: 50px;
	max-height: 27px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
	left: 0;
}
.header-select .select-open {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 0 0 20px 20px;
	border: 1px solid rgb(230, 230, 230);
	border-top: 0;
	padding: 10px 22px;
	box-sizing: border-box;
	overflow-y: auto;
	background-color: #ffffff;
}
.header-select .select-open.active {
	display: block;
}
.header-select .select-open a {
	display: block;
	position: relative;
	padding: 3px 0 3px 49px;
	font-size: 18px;
	/*color: rgb(77, 77, 77);*/
	color: #9299a2;
	line-height: 1.2;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-select .select-open a:hover {
	color: #000000;
}
.header-select .select-open a:last-child {
	margin-bottom: 0;
}
.header-select .select-open a img {
	display: block;
	position: absolute;
	max-width: 50px;
	max-height: 27px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
	left: 0;
}
.header-phone {
	display: inline-block;
	vertical-align: top;
	width: calc(45% - 195px);
	text-align: right;
}
.header-phone a {
	font-family: 'FiraSans-Medium';
	font-size: 22px;
	color: rgb(77, 77, 77);
	line-height: 1.2;
}
.header .mobile-menu {
	display: none;
	position: fixed;
	top: -200%;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 60px 30px;
	background-color: rgb(246, 247, 249);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}


.footer {
	background-color: rgb(83, 83, 83);
}
.footer .b-block {
	padding-top: 21px;
	padding-bottom: 17px;
}
.footer-left {
	display: inline-block;
	vertical-align: top;
	width: 460px;
	padding-right: 10px;
	box-sizing: border-box;
	text-align: left;
	font-size: 14px;
	line-height: 1.2;
	color: #ffffff;
}
.footer-right {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 465px);
	padding-left: 10px;
	box-sizing: border-box;
}
.footer-top {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: top;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.footer-top ul li {
	display: block;
	color: #ffffff;
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 2px;
	text-align: left;
}
.footer .policy-list {
	min-width: 290px;
}
.footer-top ul li a {
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-top ul li a:hover {
	font-family: 'FiraSans-Bold';
}
.atk-logo {
	display: inline-block;
	max-width: 100%;
}
.atk-logo img {
	display: block;
	max-width: 100%;
}
.footer-bottom {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: top;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer .pay-list {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.footer .pay-list li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
}
.footer .pay-list li a {
	display: inline-block;
	max-width: 69px;
}
.footer .pay-list li a img {
	display: block;
	max-width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	filter: grayscale(1);
}
.footer .pay-list li a:hover img {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
}
.footer .social-list {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.footer .social-list li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
}
.footer .social-list li a {
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	border-radius: 50%;
	border: 1px solid #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer .social-list li a img {
	display: block;
	max-width: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.footer .social-list li a:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.popup-product {
	background-color: #ffffff;
	padding: 30px 20px;
	box-sizing: border-box;
	width: 90%;
	max-width: 750px;
	border-radius: 10px;
	font-family: 'FiraSans-Light';
}
.popup-left, .popup-right {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
	box-sizing: border-box;
	width: calc(50% - 4px);
	text-align: left;
}
.product-image {
	display: block;
	position: relative;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	height: 370px;
	width: 100%;
}
.product-image.back-1 {
	background-color: #ebf6f8;
}
.product-image.back-2 {
	background-color: #faf5ec;
}
.product-image.back-3 {
	background-color: #f0f0f2;
}
.product-image a {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.product-image a img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.product-name {
	font-size: 18px;
	color: #423f3f;
	margin-bottom: 10px;
	font-family: 'FiraSans-Bold';
}
.product-example {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	max-width: 100%;
	font-family: 'FiraSans-Regular';
	color: #899fa5;
	font-size: 16px;
	margin-bottom: 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.product-example:hover {
	-webkit-filter: brightness(0.8);
	-moz-filter: brightness(0.8);
	-ms-filter: brightness(0.8);
	filter: brightness(0.8);
}
.popup-product p {
	display: block;
	font-size: 14px;
	color: #423f3f;
	line-height: 1.2;
	margin-bottom: 25px;
}
.product-price {
	margin-bottom: 20px;
}
.product-price span {
	display: inline-block;
	position: relative;
	font-family: 'FiraSans-Bold';
	color: rgb(66, 63, 63);
	font-size: 27px;
	padding-right: 23px;
}
.product-price span::before {
	content: '';
	display: block;
	width: 17px;
	height: 19px;
	position: absolute;
	right: 0;
	top: calc(50% - 10px);
	background-image: url('../i/rub-icon.png');
	background-size: contain;
}
.product-btn {
	display: block;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
	border-radius: 100px;
	background-color: rgb(226, 192, 68);
	max-width: 310px;
	width: 100%;
	text-align: center;
}
.product-btn.active {
	display: none;
}
.product-btn span {
	display: inline-block;
	max-width: 100%;
	box-sizing: border-box;
	font-size: 20px;
	font-family: 'FiraSans-Bold';
	color: #ffffff;
	position: relative;
	padding-right: 35px;
}
.product-btn span::before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: calc(50% - 13px);
	width: 28px;
	height: 26px;
	background-image: url('../i/basket-icon-h.png');
}
.product-buttons {
	display: none;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
.product-buttons.active {
	display: block;
}
.product-buttons .count-btn {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	background-color: rgb(200, 197, 192);
	position: relative;
	width: 27px;
	height: 27px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.product-buttons .count-btn:hover {
	cursor: pointer;
	background-color: rgb(158, 155, 151);
}
.product-buttons .count-btn span {
	display: block;
	font-family: 'FiraSans-Bold';
	color: #ffffff;
	font-size: 18px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -47%);
	-moz-transform: translate(-50%, -47%);
	-ms-transform: translate(-50%, -47%);
	transform: translate(-50%, -47%);
}
.product-buttons .product-col {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 62px);
	min-width: 55px;
	padding: 0 5px;
	box-sizing: border-box;
	font-size: 14px;
	color: rgb(66, 63, 63);
}

.popup {
	border-radius: 10px;
	background-color: #ffffff;
	padding: 30px 20px;
	box-sizing: border-box;
	max-width: 540px;
	width: 90%;
	font-family: 'FiraSans-Light';
	text-align: center;
}
.popup-name {
	font-size: 35px;
	color: rgb(77, 77, 77);
	line-height: 1.2;
	font-family: 'FiraSans-Bold';
	width: 100%;
	margin-bottom: 20px;
}
.popup-subname {
	font-family: 'FiraSans-Bold';
	font-size: 20px;
	color: rgb(77, 77, 77);
	line-height: 1.2;
	width: 100%;
	margin-bottom: 65px;
}
.popup form textarea {
	display: block;
	resize: none;
	border: 1px solid rgb(229, 229, 229);
	border-radius: 20px;
	padding: 15px 20px;
	box-sizing: border-box;
	font-family: 'FiraSans-Regular';
	font-size: 16px;
	color: rgb(77, 77, 77);
	line-height: 1.2;
	height: 115px;
	margin-bottom: 22px;
	width: 100%;
}
.popup form textarea::-webkit-input-placeholder {color:rgb(128,128,128);}
.popup form textarea::-moz-placeholder          {color:rgb(128,128,128);}
.popup form textarea:-moz-placeholder           {color:rgb(128,128,128);}
.popup form textarea:-ms-input-placeholder      {color:rgb(128,128,128);}
.popup form textarea:focus::-webkit-input-placeholder {color:transparent;}
.popup form textarea:focus::-moz-placeholder          {color:transparent;}
.popup form textarea:focus:-moz-placeholder           {color:transparent;}
.popup form textarea:focus:-ms-input-placeholder      {color:transparent;}
.popup .photo-wrap {
	width: 100%;
	margin-bottom: 20px;
}
.popup .photo-wrap .photo-btn {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	max-width: 100%;
	padding-left: 30px;
	font-family: 'FiraSans-Regular';
	color: #899fa5;
	font-size: 16px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup .photo-wrap .photo-btn::before {
	content: '';
	display: block;
	width: 20px;
	height: 17px;
	background-image: url('../i/photo-icon.png');
	background-size: contain;
	position: absolute;
	left: 0;
	top: calc(50% - 9px);
}
.popup .photo-wrap input.hide-input {
	width: 0 !important;
	padding: 0 !important;
	height: 0 !important;
	visibility: hidden !important;
	margin: 0 !important;
	border: 0 !important;
}
.popup .photo-wrap .photo-btn:hover {
	-webkit-filter: brightness(0.8);
	-moz-filter: brightness(0.8);
	-ms-filter: brightness(0.8);
	filter: brightness(0.8);
}
.popup .add-btn {
	display: inline-block;
	font-family: 'FiraSans-Regular';
	color: rgb(137, 159, 165);
}
.popup .add-btn:hover {
	cursor: pointer;
}
.popup .add-btn-description {
	display: block;
	width: 100%;
	color: #999999;
	font-family: 'FiraSans-Regular';
	line-height: 1.2;
	margin-bottom: 20px;
}
.popup form input {
	display: block;
	padding: 15px 20px;
	border-radius: 100px;
	font-family: 'FiraSans-Regular';
	border: 1px solid rgb(229, 229, 229);
	color: rgb(77, 77, 77);
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.popup form input::-webkit-input-placeholder {color:rgb(128,128,128);}
.popup form input::-moz-placeholder          {color:rgb(128,128,128);}
.popup form input:-moz-placeholder           {color:rgb(128,128,128);}
.popup form input:-ms-input-placeholder      {color:rgb(128,128,128);}
.popup form input:focus::-webkit-input-placeholder {color:transparent;}
.popup form input:focus::-moz-placeholder          {color:transparent;}
.popup form input:focus:-moz-placeholder           {color:transparent;}
.popup form input:focus:-ms-input-placeholder      {color:transparent;}
.popup form button {
	display: block;
	margin: 0 auto 20px;
	background-color: rgb(226, 192, 68);
	border-radius: 100px;
	padding: 15px 20px;
	box-sizing: border-box;
	width: 100%;
	max-width: 310px;
	border: 0;
	color: #ffffff;
	font-family: 'FiraSans-Bold';
	font-size: 20px;
}
.popup form button:hover {
	cursor: pointer;
}
.popup form .button-text {
	display: inline-block;
	max-width: 100%;
	font-size: 16px;
	color: #808080;
	line-height: 1.2;
	position: relative;
	text-align: left;
	padding-left: 30px;
	font-family: 'FiraSans-Regular';
}
.popup form .button-text a {
	color: #899fa5;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup form .button-text a:hover {
	color: rgb(77, 77, 77);
}
.popup form .button-text .radio-btn {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border: 1px solid rgb(230, 230, 230);
	left: 0;
	top: 2px;
	border-radius: 2px;
}
.popup form .button-text .radio-btn.error {
	border-color: #ff0000;
}
.popup form .button-text .radio-btn:hover {
	cursor: pointer;
}
.popup form .button-text .radio-btn.active::before {
	content: '';
	display: block;
	width: 8px;
	height: 2px;
	position: absolute;
	left: 1px;
	top: 10px;
	background-color: rgb(153, 153, 153);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popup form .button-text .radio-btn.active::after {
	content: '';
	display: block;
	width: 12px;
	height: 2px;
	position: absolute;
	left: 6px;
	top: 9px;
	background-color: rgb(153, 153, 153);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.popup-radio {
	margin-bottom: 50px;
}
.popup-radio .radio-text {
	width: 100%;
	font-family: 'FiraSans-Regular';
	font-size: 16px;
	color: rgb(128, 128, 128);
	line-height: 1.2;
	margin-bottom: 20px;
}
.popup-radio ul li {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 25px;
	box-sizing: border-box;
	width: calc(20% - 4px);
}
.popup-radio ul li label {
	display: inline-block;
	background-color: #ffffff;
	border: 1px solid rgb(229, 229, 229);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: relative;
}
.popup-radio ul li label:hover {
	cursor: pointer;
}
.popup-radio ul li label.active::before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: rgb(163, 151, 131);
	position: absolute;
	top: calc(50% - 4px);
	left: calc(50% - 4px);
}
.popup-radio ul li label span {
	display: block;
	position: absolute;
	top: calc(100% + 6px);
	font-family: 'FiraSans-Regular';
	font-size: 16px;
	color: rgb(128, 128, 128);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.popup-radio ul li input {
	visibility: hidden !important;
	padding: 0 !important;
	margin: 0 !important;
	width: 0 !important;
	height: 0 !important;
	border: 0 !important;
}
.popup iframe {
	width: 100%;
	min-height: 300px;
}

.fancybox-close-small {
	width: 30px;
	height: 30px;
	top: -30px !important;
	padding: 0 !important;
	z-index: 1;
}
.fancybox-close-small svg path {
	fill: #ffffff !important;
}
.fancybox-content {
	overflow: visible;
}
.fancybox-content:hover {
	cursor: default;
}
.fancybox-slide--html {
	padding-top: 60px;
	padding-bottom: 60px;
}









@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	.header-text {
		font-size: 12px;
		width: calc(20% - 4px);
	}
	.header-phone {
		width: calc(55% - 195px);
	}
	.footer-left {
		width: 300px;
	}
	.footer-top ul {
		margin-bottom: 10px;
	}
	.footer-bottom {
		justify-content: center;
	}
	.footer .pay-list {
		margin-bottom: 10px;
	}
	.footer-right {
		width: calc(100% - 305px);
	}
}
@media screen and (max-width: 767px){
	.b-block {
		padding: 0 10px;
	}
	.header {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		position: fixed;
		background-color: #ffffff;
	}
	.header .mobile-btn {
		display: block;
	}
	.header .close-btn {
		display: block;
	}
	.header .mobile-menu {
		display: block;
		z-index: 150;
	}
	.header .mobile-menu.active {
		top: 0;
	}
	.header-bottom {
		display: none;
	}
	.header-top {
		text-align: right;
	}
	.header-top .header-nav {
		display: none;
	}
	.header-logo, .header-text, .header-select {
		display: none;
	}
	.header-phone {
		display: block;
		width: 100%;
		text-align: center;
	}
	.header-bottom .b-block {
		padding-top: 18px;
		padding-bottom: 18px;
	}
	.mobile-menu .header-logo {
		display: inline-block;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.mobile-menu .header-nav {
		display: block;
		width: 100%;
		padding: 0;
	}
	.mobile-menu .header-nav ul {
		display: block;
		margin-bottom: 20px;
	}
	.mobile-menu .header-nav ul li {
		display: block;
		margin-bottom: 10px;
	}
	.mobile-menu .header-select {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	.footer-left {
		display: none;
	}
	.footer-right {
		padding: 0;
		width: 100%;
	}
	.footer-top {
		display: block;
	}
	.footer-top ul li {
		text-align: center;
	}
	.footer-bottom {
		display: block;
	}
	.footer .pay-list, .footer .social-list {
		display: block;
	}
	.popup-left {
		display: block;
		width: 100%;
		margin: 0 auto 20px;
	}
	.popup-right {
		display: block;
		width: 100%;
	}
	.product-image {
		max-width: 300px;
		height: 320px;
		margin: 0 auto;
	}
	.popup-radio ul li {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
	.popup iframe {
		min-height: 277px;
	}
}